*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Koulen", sans-serif;
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
}

.nav-list {
    list-style: none;
    display: flex; 
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 20px; 
}

.nav-list a {
    text-decoration: none;
    color: #ffffff; 
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px; 
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 20px; 
}

.nav-list a:hover {
    background-color: rgb(255, 255, 255);
    color: #000000; 
    
}

.logo {
   margin-right: auto;
}

.logo img {
    width: 210px; 
    height: auto;
}

/* Burger Menu Styles */

.burger {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px;
    cursor: pointer;
    color: black;
    z-index: 2000; /* Ensure the burger is above the navbar */
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Hide sidebar offscreen initially */
    width: 250px;
    height: 100%;
    background-color: #d8d8d8; /* Transparent background */
    padding-top: 60px;
    transition: left 0.3s ease; /* Slide-in effect */
    z-index: 1000;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar a:hover {
    background-color: #fff;
}

/* Services Dropdown */
.servicesdropdown {
    display: none;
}

.servicesdropdown.show {
    display: block;
}

/* Show Sidebar when Active */
.sidebar.show {
    left: 0; /* Slide the sidebar in */
}


/* Section1 */
.section1 {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 1rem;
    padding-bottom: 20px;
}

/* Text Overlay Styling */
.section1 .text-overlay {
    color: #d8d8d8;
    font-family: 'Koulen', sans-serif;
    margin-top: -10em;
}

.section1 .text-overlay p {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    margin: 0;
}

.section1 .text-overlay h1 {
    font-size: 9rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.section1 .camera {
    position: absolute; 
    width: 70%;
    max-width: 700px;
    margin-top: 1em;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -35%); 
    transition: opacity 0.8s ease, top 0.8s ease, transform 0.8s ease;
    opacity: 0;
}

.section1 .camera.loaded {
    opacity: 1; 
    top: 60%;
  }


/* Medium screen adjustments (tablets) */
@media (max-width: 768px) {
    .section1 .text-overlay p {
        font-size: 1rem;
    }

    .section1 .text-overlay h1 {
        font-size: 3.5rem;
    }

    .section1 .camera {
        width: 80%;
        max-width: 500px;
        margin-top: -10em;
    }

    .logo {
        margin-right: -1em;
    }
}

@media (max-width: 1315px) {
    .section1 .text-overlay p {
        font-size: 1rem;
    }

    .section1 .text-overlay h1 {
        font-size: 3.5rem;
    }

    .section1 .camera {
        width: 80%;
        max-width: 500px;
        margin-top: 2em;
    }
}

@media (max-width: 1024px) {
    .section1 .text-overlay p {
        font-size: 3rem;
    }

    .section1 .text-overlay h1 {
        font-size: 5rem;
    }

    .section1 .camera {
        width: 90%;
        max-width: 500px;
        margin-top: 15em;
    }
}

/* Small screen adjustments (phones) */
@media (max-width: 480px) or (max-width: 757px){
    .section1 {
        padding: 0 0.5rem;
    }
    
    .section1 .text-overlay p {
        font-size: 0.9rem;
    }

    .section1 .text-overlay h1 {
        font-size: 2.5rem;
    }

    .section1 .camera {
        width: 90%;
        max-width: 400px;
        margin-top: 6em;
    }


}

/* Medium screen adjustments (tablets) */
@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .navbar {
        padding: 50px;
    }

    .navbar li a {
        display: none; 
    }

    .sidebar {
        left: -250px; 
    }

    .sidebar.show {
        left: 0; 
    }

}

@media (min-width: 769px) {
    .navbar .nav-list {
        display: flex; 
    }

    .burger {
        display: none;
    }

    .sidebar {
        left: -250px; 
    }

}

/* Card */

.card-wrapper {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    padding-right: 50px;
    overflow: hidden;
    margin: 0 auto;


}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: #E8D769;
    transform: scale(1.05);
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #000;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #E8D769;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.designer {
    color: #000;
    background: #E8D769;
}

.card-list .card-link .badge.marketer {
    color: #000;
    background: #E8D769;
}

.card-list .card-link .badge.gamer {
    color: #000;
    background: #E8D769;
}

.card-list .card-link .badge.editor {
    color: #000;
    background: #E8D769;
}

.card-list .card-link .card-title {
    font-size: 1.10rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372F0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372F0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background: #5372F0;
}

/* Button at the bottom */
.cta-button {
    margin: 20px auto 0;
    padding: 10px 40px;
    font-size: 20px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Koulen';
    display: block;
    margin-bottom: 30px;
}

.cta-button:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cta-button {
        font-size: 0.9rem;
        padding: 0.7em 1.8em;
        width: auto;
    }
}

/* Services Section Styling */
.services-section {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
    background-color: #E8D769;
}

.service-card {
    background-color: white;
    border: 1px solid black;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.service-card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.service-card p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.service-card a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.service-card a:hover {
    text-decoration: underline;
}

.service-card a span {
    font-size: 20px;
    margin-left: 5px;
    transition: transform 0.3s;
}

.service-card a:hover span {
    transform: translateX(5px);
}

/* Responsiveness */
@media (max-width: 1024px) {
    .service-card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .service-card {
        width: 100%;
    }
}

footer {
    background-color: #f8f8f8;
    padding: 30px;
    border-top: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section a {
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 5px;
    font-size: 14px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-icons {
    display: flex;
    justify-content: flex-start; /* Align icons to the left */
    margin-top: 10px;
}

.footer-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Add spacing between icons */
}

.footer-text {
    margin-top: 20px;
    font-size: 14px;
}

